.footer {
  height: 200px;
  margin-top: 30;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  align-items: center;
  background-color: #0B5671;
  padding: 10px 30px 10px 30px;

  .partners {
    width: 400px;
    height: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .partner img {
      max-height: 80px;
    }
  }

  .social{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-content: center;
    align-items: center;

    i {
      padding-left:20px;
      color:white;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}
