#site-trail-chantenay{
  background-color: #E5E5E5;
  color: #193038;
  margin: 0;
  font-family: 'asap';
}

.banner {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 400px) {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  }
}


.slider-home {
  flex: 50;
  img {
  width: 100%;
  }
  @media (max-width: 400px) {
    width: 300px;
  }
}

.presentation-course {
  flex:50;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
    @media (max-width: 400px) {
    width: 300px;
  }

  h1 {
    color: #0B5671;
    width: fit-content;
    position:relative;

  // &:after {
  //   content:"";
  //   width: 20px;
  //   background-color: #E9C46A;
  //   position:absolute;
  //   top:10px;
  //   }
  }

  p {
    text-align: justify;
    margin-right: 22px;
    padding-top: 22px;
  }
}


// Je n'arrive pas à faire fonctionner le after dans le H1 du coup j'ai ajouté une classe underline...
.underline {
  padding-right: 1.2em;
  box-shadow: inset 0 -0.7em 0 #e9c46a;
}

button {
    padding: 10 20;
    background-color: #0B5671;
    outline: none;
    border: none;
    cursor: pointer;
    color: #E5E5E5;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 5px;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  &:hover {
    background-color: #B9D7E1;
    color: #0B5671;
    font-weight: bold;
  }
}

.carte img {
  width:50vw;
}

.inscriptions{
  background-color: #0B5671;
  color: #E5E5E5;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  align-items: center;
}

.card {
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 10px 20px;
  width: 25vw;
  height: 250px;
  }
