.navbar {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 30px 10;
  height: 90px;

  .logo img {
    height: 100%;
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.menu li {
  text-align: center;
  margin-right: 20px;

  a {
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #264653;
    transition-duration: 0.5s;

    &:hover{
      font-size: 1.1rem;
      font-weight: bold;
      text-decoration: underline #F2C746;
      text-underline-offset: 10px;
      text-decoration-thickness: 3px;
    }
  }
}



