.innerWidth,
.innerSmallWidth {
  width: 100% !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.innerWidth {
  max-width: 1240px !important;
}
.innerSmallWidth {
  max-width: 900px !important;
}

@media only screen and (min-width: $tablet_width) {
  .innerWidth,
  .innerSmallWidth {
  }
}


.padding-left-right{
  padding-left :20px !important;
  padding-right :20px !important;
}