@mixin transitionButton() {
  transition: transform $button_delay $button_transition,
              background $button_delay $button_transition,
              width $button_delay $button_transition,
              clip-path $button_delay * 3 $button_transition;
}

@mixin btnPlus {
  width: 50px;
  height: 50px;
  position: relative;
  background: $firstColor;
  display: flex;
  @include transitionButton();
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 2px;
    width: 30px;
    background: $blanc;
    @include transitionButton();
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 30px;
    width: 2px;
    background: $blanc;
    @include transitionButton();
  }
  &:hover {
    background: $noir;
    &::before,
    &::after {
      background: $blanc;
      transform: rotate(90deg);
    }
  }
}

@mixin btnCP($bg: false, $color: false, $bg_cp: false, $color_cp: false) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  overflow: hidden;
  @if ($bg) {
    background: $bg;
    border: none;
  } @else {
    border: 2px solid $noir;
  }
  @if ($color) {
    color: $color;
  } @else {
    color: $noir;
  }
  &::before {
    content: attr(data-title);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // width: 100%;
    // height: 100%;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    @include transitionButton();
    @if ($bg_cp) {
      background: $bg_cp;
    } @else {
      background: $noir;
    }
    @if ($color_cp) {
      color: $color_cp;
    } @else {
      color: $blanc;
    }
  }
  &:hover, &:focus, &.active {
    @if ($bg) {
      border: none;
    }
    &::before {
      clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, -10% 110%);
    }
  }
}

@mixin btnBorder($color: false) {
  background: none;
  border: none;
  position: relative;
  padding: 0 0 3px 0;

  @if ($color) {
    color: $color;
  } @else {
    color: $firstColor;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
    transform-origin: 0 0;
    transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    transform: scaleX(1);
    @if ($color) {
      background: $color;
    } @else {
      background: $firstColor;
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    @if ($color) {
      background: $color;
    } @else {
      background: $firstColor;
    }
  }

  &:hover, &:focus, &.active {
    background: none;

    &::before {
      transform: scaleX(1);
      transform-origin: 0 0;
      transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    }

    &::after {
      transform: scaleX(0);
      transform-origin: 100% 0;
      transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
}

