
$firstColor: #000; // Couleur principale du site : titre principal, fonds...
$secondColor: #777777; // Couleur secondaire du site : titres, menus...
$thirdColor: #fff; // Couleur secondaire du site : titres, menus...

$bgColor: #444; // Couleur de fond sur le site
$textColor: #000; // Couleur par défaut des textes
$fondContenu: #f1f5f7;
$footerColor: #8EC89A;

$cf7_valid: #68bb4c;
$cf7_error: #ff6666;

$adminColor: #000;
$adminColor2: #777777 ;
$adminColor3: #DB8648; // Orange

$gris_fonce: #9b9b9b;
$blanc: #fff;
$noir: #000;
$sousTitreColor : #000;

$menuColor: $blanc; // Couleur de fond du menu
$menuTextColor: $gris_fonce; // Couleur de texte du menu

