@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

$font-base: "Open Sans", Helvetica, sans-serif;
$font-titre: "Open Sans", Helvetica, sans-serif;
$font-btn: "Open Sans", Helvetica, sans-serif;
$font-menu: "Open Sans", Helvetica, sans-serif;
$font-ecriture: "Open Sans", Helvetica, sans-serif;

$typosize: 16px;
$typosize_mobile: 14px;
